{% extends 'base.html' %}

{% block content %}
    <h2>Update Treatment</h2>
    <h3>Animal: {{animal.name}}</h3>
    <h3>Vetinarian: Dr {{ vet.last_name }}</h3>
    <form action="/treatments/{{ treatment.id }}" method="post"></form>
        <input type="text" name="source" value="{{ source }}" hidden>
        <input type="text" name="animal_id" value="{{ animal.id }}" hidden>
        <input type="text" name="vet_id" value="{{ vet.id }}" hidden>
        <label for="date">Treatment Date:</label>
        <input type="date" name="date" value="{{ treatment.date }}"required autofocus>
        <label for="details">Treatment Details:</label>
        <textarea name="details" rows="5" cols="40">{{ treatment.details }}</textarea>
        <input type="submit"></input>
    </form>
{% endblock %}