{% extends 'base.html' %}

{% block content %}
    <section>
        <h2>All Procedures</h2>
            <div>
                <a href="/treatmens/new">Add New Procedure</a>
            </div>
            <div>
                <h3>Upcoming Procedures</h3>
                {% for treatment in treatments_future %}
                    <div>
                        <p>Date: {{ treatment.date }}</p>
                        <p>Animal: {{ treatment.animal.name }}</p>
                        <p>Vetinarian: Dr {{treatment.vet.last_name}}</p>
                        <p>Details: {{ treatment.details }}</p>
                        <a href="/treatments/{{ treatment.id }}/edit">Edit</a>
                        <a href="/treatments/{{ treatment.id }}/delete">Remove</a>
                    </div>
                {% endfor %}
            </div>
            <div>
            <h3>Historic Procedures</h3>
            {% for treatment in treatments_past %}
                <div>
                    <p>Date: {{ treatment.date }}</p>
                    <p>Animal: {{ treatment.animal.name }}</p>
                    <p>Vetinarian: Dr {{treatment.vet.last_name}}</p>
                    <p>Details: {{ treatment.details }}</p>
                    <a href="/treatments/{{ treatment.id }}/edit">Edit</a>
                    <a href="/treatments/{{ treatment.id }}/delete">Remove</a>
                </div>
            {% endfor %}
            </div>
    </section>
{% endblock %}