{% extends 'base.html' %}

{% block content %}
<div>
<h2>Update Vetinarian Record</h2>
<form class="edit" action="/vets/{{ vet.id }}" method="post">
    <img src="../../{{ vet.img_url }}" alt="Profile picture of Dr {{ vet.last_name }}">
    <label for="img_url">Profile Picture:</label>
    {% if vet.img_url == "static/images/no_img.jpg" %}
        <input type="text" name="img_url" placeholder="optional">
    {% else %}
        <input type="text" name="img_url" value="{{ vet.img_url }}">
    {% endif %}
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" value="{{ vet.first_name }}" required autofocus>
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" value="{{ vet.last_name }}" required>
    <input type="submit"></input>
</form>
</div>
{% endblock %}