{% extends 'base.html' %}

{% block content %}
    <section>
        <h2>Vetinary Practitioners</h2>
            <div>
                <a href="/vets/new">Add new</a>
            </div>
            {% for vet in vets %}
                <div class = "vet">
                    <p>Dr {{vet.first_name}} {{vet.last_name}}</p>
                    <a href="/vets/{{ vet.id }}">Details</a>
                    <a href="/vets/{{ vet.id }}/delete">Remove</a>
                </div>
            {% endfor %}
    </section>
{% endblock %}