{% extends 'base.html' %}

{% block content %}
    <section class="members_view">
        <h2>All Vetinarians</h2>
        <div class="primary_info">
            <div class="members new">
                <img class="primary_image" src="static//images/no_img.jpg" alt="Add New Vet">
                <h3>--New Vetinarian--</h3>
                <a class="add_new button" href="/vets/new">Add New</a>
            </div>
            {% for vet in vets %}
                <div class="members">
                    <a href="/vets/{{ vet.id }}"><img class="primary_image" src="{{ vet.img_url }}" alt="Profile picture of Dr {{ vet.last_name }}"></a>
                    <h3>Dr {{vet.first_name}} {{vet.last_name}}</h3>
                    <a class="delete button" href="/vets/{{ vet.id }}/delete">Remove</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}