{% extends 'base.html' %}

{% block content %}
<h2>New Vetinarian</h2>
<form action="/vets" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" placeholder="First Name" required autofocus>
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" placeholder="Last Name" required>
    <label for="img_url">Profile Picture:</label>
    <input type="text" name="img_url" placeholder="optional">    
    <input type="submit"></input>
</form>
{% endblock %}