{% extends 'base.html' %}

{% block content %}
    <h2>Dr {{ vet.first_name }} {{vet.last_name }}</h2>
    <a href="/vets/{{ vet.id }}/edit">Edit</a>
    <h3>Assigned Aimals</h3>
    {% if animals %}
        {% for animal in animals %}
        <div class='animals'>
            <p>{{ animal.name }}</p>
            <p>{{ animal.animal_type  }}</p>
            <p>{{ animal.calculate_age() }} year(s) old</p>
        </div>
        {% endfor %}
    {% else %}
        <p>-- NO ASSIGNED ANIMALS --</p>
    {% endif %}
{% endblock %}