{% extends 'base.html' %}

{% block content %}
    <section class="show_vet">
        <div id="vet">
            <img class="primary_image" src="../{{ vet.img_url }}" alt="Profile picture of Dr {{ vet.last_name }}">
            <h2>Dr {{ vet.first_name }} {{vet.last_name }}</h2>
            <a class="button edit"href="/vets/{{ vet.id }}/edit">Edit</a>
        </div>
        <div id="animals">
            <h3>Assigned Animals</h3>
            {% if animals %}
                <div class="primary_info">
                    {% for animal in animals %}
                        <div class="members">
                            <a href="/animals/{{ animal.id }}">
                                <img class="secondary_image" src="../{{ animal.img_url }}" alt="Profile picture of {{ animal.name }}">
                            </a>
                            <p>{{ animal.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>-- NO ASSIGNED ANIMALS --</p>
            {% endif %}
        </div>
        <div id="treatment">
            <h3>Procedures</h3>
            <h4>Upcoming</h4>
                {% if treatments_future %}
                    {% for treatment in treatments_future %}
                    <div>
                        <p class="inline">{{ treatment.date }} : {{ treatment.details }} </p>
                        <a class="button edit inline" href="/animals/{{ treatment.animal.id }}">Animal</a>
                        <a class="button edit inline" href="/treatments/{{ treatment.id }}/edit/vet">Update</a>
                        <a class="button delete inline" href="/treatments/{{ treatment.id }}/delete/vet">Delete</a>
                    </div>
                        {% endfor %}
                {% else %}
                    <p>-- NO FUTURE TREATMENTS ARRANGED --</p>
                {% endif %}
            <h4>Historic</h4>
                {% if treatments_past %}
                    {% for treatment in treatments_past %}
                        <div>
                            <p class="inline">{{ treatment.date }} : {{ treatment.details }}</p>
                            <a class="button edit inline" href="/animals/{{ treatment.animal.id }}">Animal</a>
                            <a class="button edit inline" href="/treatments/{{ treatment.id }}/edit/vet">Update</a>
                            <a class="button delete inline" href="/treatments/{{ treatment.id }}/delete/vet">Delete</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>-- NO FUTURE TREATMENTS ARRANGED --</p>
                {% endif %}
        </div>
    </section>
{% endblock %}