{% extends 'base.html' %}

{% block content %}
    <div class="primary_info">
        <img  src="../{{ vet.img_url }}" alt="Profile picture of Dr {{ vet.last_name }}">
        <h2>Dr {{ vet.first_name }} {{vet.last_name }}</h2>
        <a href="/vets/{{ vet.id }}/edit">Edit</a>
    </div>
    <div>
        <h3>Assigned Animals</h3>
        {% if animals %}
            {% for animal in animals %}
            <div class="secondary_info">
                <a href="/animals/{{ animal.id }}">
                    <img src="../{{ animal.img_url }}" alt="Profile picture of {{ animal.name }}">
                </a>
                <p>{{ animal.name }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>-- NO ASSIGNED ANIMALS --</p>
        {% endif %}
    </div>
    <div>
        <h3>Procedures</h3>
        <h4>Upcoming</h4>
            {% if treatments_future %}
                {% for treatment in treatments_future %}
                    <p>{{ treatment.date }} : {{ treatment.details }} </p>
                    <a href="/treatments/{{ treatment.id }}/edit/vet">Update</a>
                    <a href="/treatments/{{ treatment.id }}/delete/vet">Delete</a>
                {% endfor %}
            {% else %}
                <p>-- NO FUTURE TREATMENTS ARRANGED --</p>
            {% endif %}
        <h4>Historic</h4>
            {% if treatments_past %}
                {% for treatment in treatments_past %}
                    <p>{{ treatment.date }} : {{ treatment.details }}</p>
                    <a href="/treatments/{{ treatment.id }}/edit/vet">Update</a>
                    <a href="/treatments/{{ treatment.id }}/delete/vet">Delete</a>
                {% endfor %}
            {% else %}
                <p>-- NO FUTURE TREATMENTS ARRANGED --</p>
            {% endif %}
    </div>
{% endblock %}