{% extends 'base.html' %}

{% block content %}
    <section class="members_view page_padding">
        <h2 class="padding">All Animals</h2>
        <div class="primary_info">
            <div class="members new">
                <a href="/animals/new"><img class="primary_image" src="static//images/no_img.jpg" alt="Add New Vet"></a>
                <h3>--New Animal--</h3>
            </div>
            {% for animal in animals %}
                <div class = "members">
                    <a href="/animals/{{ animal.id }}"><img class="primary_image" src="{{ animal.img_url }}" alt="Profile picture of {{ animal.name }}"></a>
                    <h3>{{ animal.name }}</h3>
                    <a class="delete button" href="/animals/{{ animal.id }}/delete">Remove</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}