{% extends 'base.html' %}

{% block content %}
    <section>
        <h2>All Animals</h2>
            <div>
                <a href="/animals/new">Add New Animal</a>
            </div>
            {% for animal in animals %}
                <div class = "animal">
                    <img src="{{ animal.img_url }}" alt="Profile picture of {{ animal.name }}">
                    <p>{{ animal.name }}</p>
                    <a href="/animals/{{ animal.id }}">Details</a>
                    <a href="/animals/{{ animal.id }}/delete">Remove</a>
                </div>
            {% endfor %}
    </section>
{% endblock %}