{% extends 'base.html' %}

{% block content %}
    <div class="primary_info" >
        <img src="../{{ animal.img_url }}" alt="Profile picture of {{ animal.name }}">
        <h2>{{ animal.name }}</h2>
        <p>Animal Type: {{ animal.animal_type }}</p>
        <p>D.O.B.: {{ animal.dob }}</p>
        <p>Age: {{ animal.calculate_age() }}</p>
    </div>
    <div>
        <h3>Owner Details<h3>
        <p>Name: {{ animal.owner.title}} {{ animal.owner.first_name}} {{ animal.owner.last_name}}</p>
        <p>Phone: {{ animal.owner.phone }}</p>
    </div>
    </div>
    <div class="secondary_info">
        {% if animal.vet %}
            <p>Assigned Vetinarian: Dr {{ animal.vet.last_name }}</a></p>
            <a href="/vets/{{ animal.vet.id }}">
                <img src="../{{ animal.vet.img_url }}" alt="Profile picture of Dr {{ animal.vet.last_name }}">
            </a>
        {% else %}
            <p>-- NO VET ASSIGNED--</p>
        {% endif %}
        <h3>Treatment Notes</h3>
        {% if animal.treatment_notes %}
            <p>{{ animal.treatment_notes }}</p>
        {% else %}
            <p>-- NO NOTES --</p>
        {% endif %}
    </div>
    <a href="/animals/{{ animal.id }}/edit">Edit</a>
{% endblock %}