{% extends 'base.html' %}

{% block content %}
<h2>Update Owner</h2>
<form action="/owners/{{ owner.id }}" method="post">
    <label for="title">Title:</label>
    <select name="title" required autofocus>
        <option value="{{ owner.title }}" hidden selected>{{ owner.title }}</option>
        <option value="Mr">Mr</option>
        <option value="Mrs">Mrs</option>
        <option value="Miss">Miss</option>
        <option value="Ms">Ms</option>
        <option value="Dr">Dr</option>
    </select>
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" value="{{ owner.first_name }}" required>
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" value="{{ owner.last_name }}" required>
    <label for="phone">Phone Number:</label>
    <input type="text" name="phone" value="{{ owner.phone }}" required>    
    <div>
        <p>Registered:</p>
        {% if owner.registered == False %}
            <label id="Yes" for="registered">Yes</label>
            <input type="radio" id="Yes" name="registered" value="True">
            <label id="No" for="registered">No</label>
            <input type="radio" id="No" name="registered" value="False" checked>
        {% else %}
            <label id="Yes" for="registered">Yes</label>
            <input type="radio" id="Yes" name="registered" value="True" checked>
            <label id="No" for="registered">No</label>
            <input type="radio" id="No" name="registered" value="False">
        {% endif %}
    </div>
    <input type="submit"></input>
</form>
{% endblock %}