{% extends 'base.html' %}

{% block content %}
    <div class="primary_info">
        <h2>{{ owner.title }} {{ owner.first_name }} {{owner.last_name }}</h2>
        <p>Phone Number: {{ owner.phone }}</p>
        <p>Registered: {{ owner.registered }}</p>
        <a href="/owners/{{ owner.id }}/edit">Edit</a>
    </div>
    <div>
        <h3>Animals</h3>
        {% if animals %}
            {% for animal in animals %}
            <div class="secondary_info">
                <a href="/animals/{{ animal.id }}">
                    <img src="../{{ animal.img_url }}" alt="Profile picture of {{ animal.name }}">
                </a>
                <p>{{ animal.name }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>-- NO ASSIGNED ANIMALS --</p>
        {% endif %}
    </div>
{% endblock %}