{% extends 'base.html' %}

{% block content %}
    <section id="home">
        <div id="summary">
            <h2>Practice Summary</h2>
            <p>Total Vets: {{ counts['vets'] }}</p>
            <p>Total Clients: {{ counts['owners'] }}</p>
            <p>Total Animals: {{ counts['animals'] }}</p>
        </div>
        <div id="today">
            <h2>What's Happening Today</h2>
            {% if treatments_today %}
                {% for treatment in treatments_today %}
                    <div class="appointments_today">
                        <h3>Dr {{ treatment.vet.last_name }} with {{ treatment.animal.name }} ({{ treatment.animal.animal_type }})</h3>
                        <p>Details: {{ treatment.details }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h3> No treatments planned for today, put your feet up! </h3>
            {% endif %}
        </div>
    </section>
{% endblock %}